{% extends 'empty.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login_bg enter"></div>
    <form action="{{ path('login') }}" method="post" class="login enter">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <input placeholder="username" type="text" id="username" name="_username" value="{{ last_username }}">
        <input placeholder="password" type="password" id="password" name="_password">
        <input type="submit" value="login">
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.login_bg.enter').on('click', function() {
            $('form.enter').removeClass('enter');
            $(this).removeClass('enter');
        });
    });
    </script>
{% endblock %}
