{% extends 'base.html.twig' %}

{% block title %}ZUS{% endblock %}

{% block body_class %}{% if payments|length == 0 %}empty{% endif %}{% endblock %}

{% block current %}ZUS{% endblock %}
{% block head %}{% if payments|length != 0 %}<h2>ZUS</h2>{% endif %}{% endblock %}

{% block body %}
    <section>
    {% for payment in payments %}
        <div class="anchor payment element">
            <div class="date">{{ payment.date|localizeddate('none', 'none', app.request.locale, null, 'LLLL, Y')|capitalize }}</div>
            <div class="title">ZUS</div>
            <div class="value">{{ payment.total|price }}</div>
        </div>
    {% endfor %}
    </section>
{% endblock %}
