{% extends 'base.html.twig' %}

{% block title %}New company{% endblock %}

{% block body %}
    <section>
        <div>
            <h1>Siema {{ name }}!</h1>
        </div>
    </section>
{% endblock %}
