@import "variables";

body {
    background-color: #f2f2f2;

    &.empty {
        background: #7babf7 url('../img/background.jpg') fixed no-repeat center center;
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #4285f4;
    min-height: 50px;
    box-shadow: #313131 0 0 10px;
    display: flex;
    justify-content: space-around;

    .lefty, .righty {
        padding: 13px;
    }

    & > .lefty {

        & > .menu-icon {
            display: block;
            cursor: pointer;
            float: left;
            margin-right: 16px;
        }

        .logo {
            font-family: 'Nova Square', cursive;
            font-size: 20px;
            color: white;
        }

        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: white;
            line-height: 24px;
            padding-left: 13px;
            text-transform: uppercase;
        }

    }
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header + .content {
    margin-top: 50px;
}

.content > .wrapper {
    padding-top: 20px;

    transition: padding-left 0.2s ease-out;
    padding-left: 0;


    &.collapsed {
        @media screen and (max-width: $break-large) and (min-width: $break-medium) {
            padding-left: 242px;
        }
    }

    @media screen and (min-width: $break-large + 1) {
        padding-left: 242px;
    }
}

.content > .lefty {
    background-color: #f2f2f2;
    position: fixed;
    z-index: 99;
    height: calc(100% - 50px);
    @media screen and (max-width: $break-medium) {
        box-shadow: #a7a7a7 0 0 10px;
    }
}

.content > .lefty > .menu {

    padding-top: 20px;
    width: 216px;
    @media screen and (max-width: $break-large) {
        margin: 0 0 0 -242px;
    }

    transition: margin-left 0.2s ease-out;


    &.expanded {
        margin-left: 0;
    }

    & > li {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }

        &:hover, &.active {
            background-color: #ddd;
        }

        & > a {
            color: black;
            line-height: 40px;
            padding: 0 12px 0 16px;
            display: block;

            span {
                padding-left: 24px;
            }

            & > .material-icons {
                vertical-align: middle;
            }
        }
        &.profits .material-icons {
            color: #58a200;
        }
        &.costs .material-icons {
            color: #d8382a;
        }
        &.insurance .material-icons {
            color: #f3aa01;
        }
        &.companies .material-icons {
            color: black;
        }
        &.report .material-icons {
            color: #1454a9;
        }
    }
}

.content .caption {
    margin: 20px 20px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;

    &:first-child {
        margin-top: 0;
    }
}

.content section {
    background-color: white;
    box-shadow: #ddd 0 2px 5px;
    margin: 0 20px;

    &.last {
        margin-bottom: 20px;
    }

    & > div:not(.anchor) {
        padding: 20px;
    }

    & > div.anchor {

        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:first-child) {
            border-top: solid 1px #ddd;
        }

        & > .date {
            padding: 20px;
            color: #999999;
        }

        & > a {
            padding: 20px;
            display: flex;
            justify-content: space-around;
        }

        .menu {
            padding: 14px;

            a {
                display: block;
                float: left;
                margin-left: 10px;

                .material-icons {
                    color: #bdbdbd;
                }
            }
        }
    }
}

div.fieldset {

    .label {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #666;
    }

    .value {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}

.new {
    position: absolute;
    bottom: 40px;
    right: 40px;
    a {
        padding: 10px;
        background-color: #d23f31;
        display: block;
        border-radius: 50%;

        i {
            display: block;
            color: white;
        }
    }
}

form {

    padding: 20px;

    & > div > div {
        position: relative;
        height: 58px;
        margin-bottom: 10px;

        & > label {
            display: block;

            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #666;
            font-size: 12px;
            padding: 2px 0;
        }

        & > input + span {
            font-family: Roboto;
            font-size: 12px;
            padding: 3px 0 0;
            color: red;
            display: none;
            &.visible {
                display: block;
            }
        }

        & > div, & > input, & > select, & > button {
            width: 98%;
            padding: 4px 1%;

            left: 0;
            right: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

        & > select, & > button {
            width: 100%;
        }

        input[type="text"],
        input[type="number"],
        select {
            //padding: 4px;
            border: solid 1px #ddd;
        }

        [type="submit"] {

        }
    }
}

.single_document {

    background-color: white;
    margin: 0 20px;
    padding: 40px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    .section {
        padding-bottom: 10px;
        margin-bottom: 20px;

        &.header {

            border-bottom: solid 1px black;

            h1 {
                font-weight: 400;
            }

            .date, .place {
                text-align: right;
            }
        }

        &.ownership {
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;

            & > div {
                text-align: left;
                flex-grow: 1;
                .title {
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }
        }

        &.positions {
            margin-bottom: 40px;
        }

        &.details {
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;

            .payment_details, .payment_values {
                width: 40%;

                & > div {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .payment_values .to_pay {
                display: block;
                & > span {
                    display: block;
                    &.value {
                        text-align: right;
                    }
                }
            }
        }

        &.signatures {
            display: flex;
            justify-content: space-around;

            & > div {
                margin-top: 80px;
                padding: 2px 25px;
                border-top: solid 1px black;
                font-size: 12px;
            }
        }

    }





}

