<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}kahaniel{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Square&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('css/cf') }}
        {{ encore_entry_link_tags('css/common') }}
        {{ encore_entry_link_tags('css/welcome') }}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="body">
        <div class="content">
            <div class="wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block submenu %}{% endblock %}
    </body>
</html>
