{% extends 'base.html.twig' %}

{% block title %}Raporty{% endblock %}

{% block head %}
    <h2>Raporty</h2>
{% endblock %}

{% block body %}
    {% for report in reports %}
        <div class="caption">{{ report.fullMonth|localizeddate('none', 'none', app.request.locale, null, 'LLLL, Y')|capitalize }}</div>
        <section class="last">
                <div class="anchor social_insurance element">
                    <div class="menu">
                    </div>
                    <a href="#">
                        {% if report.profits is defined %}
                        <div>VAT-7: {{ (report.profits_tax - report.costs_tax)|price }}<span class="value right"></span></div>
                        {% endif %}
                        {% if report.costs is defined %}
                        <div>PIT: {{ ((report.profits_tax - report.costs_tax)*19/100)|price }}<span class="value right"></span></div>
                        {% endif %}
                    </a>
                </div>
        </section>
    {% endfor %}
{% endblock %}
