{% extends 'base.html.twig' %}

{% block title %}Raporty{% endblock %}

{% block body_class %}{% if payments|length == 0 %}empty{% endif %}{% endblock %}

{% block current %}Płatności{% endblock %}
{% block head %}{% if payments|length != 0 %}<h2>Płatności</h2>{% endif %}{% endblock %}

{% block body %}
    <section>
        {% for payment in payments %}
            <div class="anchor payment element {{ payment.type == 1 ? 'vat' : 'pit' }}">
                <div class="date">{{ payment.date|localizeddate('none', 'none', app.request.locale, null, 'LLLL, Y')|capitalize }}</div>
                <div class="main_bar">
                    <div class="title">{{ payment.typeText }}</div>
                    <div class="value">{{ payment.total|price }}</div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
